* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15pt;
    font-family: Roboto, sans-serif;
}

.navbar {
    height: 60px;
    width: 100%;
    padding: 20px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
}

.navbar-left {
    align-items: left;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 35px;
    padding: 10px 40px 20px 0px;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
}

.explore {
    font-size: 10pt;
    color: #ffff00;
}

.links {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.link {
    padding-right: 10px;
}

.spark {
    padding-left: 15px;
    color: #b3b3b3;
    font-size: 14px;
}

.navbar-right{
    align-items: right;
    display: flex;
    flex-direction: column;
}

.navbar > .navbar-right > .buttons {
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

.navbar > .navbar-right > .buttons > .button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #575757;
    border: black;
    border-radius: 5px;
    margin: 8px 5px;
}
.search-button {
    padding-top: 5px;
    font-weight: bold;
    font-size: 20pt;
    color: #575757;
    margin: 3px 10px;
}

.content {
    padding-left: 40px;
    padding-top: 60px;
    height: calc(100vh - 337px);
    width: calc(100vw - 40px);
    background-image: url("./Images/backgroundImage.png");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content > .text-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #ffffff;
    padding: 40px 40px 40px 80px;
}

.content > .text-wrapper > .paragraph-two {
    padding-top: 20px;
    color: #a5a5a5;
    font-size: 25px;
}

.content > .text-wrapper > .buttons {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.content > .text-wrapper > .buttons > .button {
    padding: 25px 15px;
    color: #000000;
    background-color: #00ff70;
    border: black;
    border-radius: 5px;
    margin: 8px 5px;
    font-weight: bold;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
}

.image-wrapper > .image-caption {
    color: #ffffff;
    font-size: 18px;
}

.image-wrapper > .image-caption > .blue-text {
    color: #00e0ff;
}

/* The image is 1461 * 1211px */
.image-wrapper > .image img {
    height: calc(1211px / 2);
    width: calc(1461px / 2);
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #353535;
    color: #ffffff;
}

.card-wrapper > .card {
    width: 25vw;
    font-size: 20px;
    border: 1px solid #b3b3b3;
    padding: 25px 0px;
    text-align: center;
}

.card-wrapper > .card strong {
    font-size: 30px;
}

.spacer {
    background-color: #232323;
    height: 92px;
}